[project]
	description = testrepo
[access "refs/*"]
	owner = group user/Qtechindia (Qtechindia)
[access "refs/for/refs/*"]
	read = group user/Qtechindia (Qtechindia)
	push = group user/Qtechindia (Qtechindia)
	label-Code-Review = -2..+2 group user/Qtechindia (Qtechindia)
	label-Verified = -1..+1 group user/Qtechindia (Qtechindia)
	rebase = group user/Qtechindia (Qtechindia)
	removeReviewer = group user/Qtechindia (Qtechindia)
	submit = group user/Qtechindia (Qtechindia)
[access "refs/heads/*"]
	read = group user/Qtechindia (Qtechindia)
	create = group user/Qtechindia (Qtechindia)
	push = +force group user/Qtechindia (Qtechindia)
	pushMerge = group user/Qtechindia (Qtechindia)
[access "refs/tags/*"]
	push = +force group user/Qtechindia (Qtechindia)
	pushTag = group user/Qtechindia (Qtechindia)
	pushSignedTag = group user/Qtechindia (Qtechindia)
